<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <servlet>
    <servlet-name>UserLoginServlet</servlet-name>
    <servlet-class>com.Servlet.UserLoginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UserSignupServlet</servlet-name>
    <servlet-class>com.Servlet.UserSignupServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UserUpdateServlet</servlet-name>
    <servlet-class>com.Servlet.UserUpdateServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UserUppassServlet</servlet-name>
    <servlet-class>com.Servlet.UserUppassServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AdminServlet</servlet-name>
    <servlet-class>com.Servlet.AdminServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UserManagementServlet</servlet-name>
    <servlet-class>com.Servlet.UserManagementServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SensitiveServlet</servlet-name>
    <servlet-class>com.Servlet.SensitiveServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>NewsServlet</servlet-name>
    <servlet-class>com.Servlet.NewsServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CommentServlet</servlet-name>
    <servlet-class>com.Servlet.CommentServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ReportServlet</servlet-name>
    <servlet-class>com.Servlet.ReportServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>UserLoginServlet</servlet-name>
    <url-pattern>/userlogin.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserSignupServlet</servlet-name>
    <url-pattern>/usersignup.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserUpdateServlet</servlet-name>
    <url-pattern>/userupdate.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserUppassServlet</servlet-name>
    <url-pattern>/useruppass.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AdminServlet</servlet-name>
    <url-pattern>/admin.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserManagementServlet</servlet-name>
    <url-pattern>/usermanagement.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SensitiveServlet</servlet-name>
    <url-pattern>/sensitive.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>NewsServlet</servlet-name>
    <url-pattern>/news.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CommentServlet</servlet-name>
    <url-pattern>/comment.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ReportServlet</servlet-name>
    <url-pattern>/report.do</url-pattern>
  </servlet-mapping>
</web-app>